:root {
  --primary: #3a700a;
  --secondary: #1a1818;
  --light-green: #abe975;
  --beige: rgb(207, 196, 148);
  --grey: #5b5b5b;
  --white: #ffe7e7;
}

body {
  background-color: var(--white);
}

header,
footer {
  background-color: var(--beige);
}

* {
  font-family: "Poppins", sans-serif;
  color: var(--grey);
}

h1,
h2,
a {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  margin: 20px;
  color: var(--primary);
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

p {
  margin: 20px;
}

blockquote {
  font-weight: 100;
  margin: 40px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

a {
  color: var(--grey);
}

a:link {
  text-decoration: none;
  color: var(--grey);
  position: relative;
}

a:link::after {
  content: "🂡";
}

@media (max-width: 1100px) {
  a:link::after {
    content: "";
  }
}

a:visited {
  color: var(--primary);
}

a:focus,
a:hover {
  color: rgb(117, 13, 13);
  text-decoration: underline;
}

a:link:focus::after,
a:link:hover::after {
  content: attr(data-description);
  position: absolute;
  left: 0;
  top: 30px;
  min-width: 200px;
  padding: 2px;
  background-color: var(--light-green);
  color: var(--grey);
  font-size: 16px;
  z-index: 1;
}

a:active {
  font-size: 30px;
}

header {
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 100px;
  display: grid;
  grid-template-columns: 200px 1fr 200px;
}

main {
  padding-top: 100px;
  padding-bottom: 80px;
}

main > .container {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

#logo {
  width: 100%;
  grid-column: 1;
}

#account {
  grid-column: 3;
}

nav {
  grid-column: 2;
  display: flex;
  align-items: center;
}

ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#copyright {
  margin: 20px;
  font-size: 10px;
}

@media (min-width: 701px) {
  #burger {
    display: none;
  }
}

@media (max-width: 700px) {
  nav {
    display: none;
  }
  #account {
    display: none;
  }
  #burger {
    grid-column: 3;
  }
  main {
    padding-bottom: 0px;
    min-height: calc(100vh - 180px);
  }
  footer {
    position: unset;
  }
}
