main > .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: calc(100vh - 220px);
  column-gap: 20px;
}

#asset-focus {
  background-color: lawngreen;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#asset-list {
  background-color: goldenrod;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#asset-list > ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

h2 {
  margin: 30px;
}

main li {
  padding: 20px;
  margin: 10px;
  background-color: beige;
  width: 80%;
}

ul > li > p {
  display: flex;
  justify-content: space-between;
}
